<#@ Dsl processor="DslDirectiveProcessor" requires="fileName='..\..\Dsl\DslDefinition.dsl'" #>
<#
	// CmdSet Guid must be defined before master template is included
	// This Guid must be kept synchronized with the CommandSetId Guid in Constants.tt
	Guid guidCmdSet = new Guid ("bd3d1e23-67a8-4337-868c-6b10dc4a024d");
#>
<#@ include file="DslPackage\GeneratedVSCT.tt" #>
